#digits {
    max-width: 100%;
    display: flex;
}

#bgwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #bfbfbf;
}

.color-wrap {
    padding: 4px;
    text-align: center;
}

.number-label {
    display: block;
    float: left;
    width: 20px;
    height: 16px;
}

input[type="color"].color-input {
    display: block;
    width: 20px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    float: left;
    transition: transform linear 180ms;
}

input[type="color"].color-input:hover {
    transform: scale3d(1.05,1.05,1);
}

.undo {
    visibility: hidden;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: 0 2px;
    font-size: 11px;
    display: block;
    cursor: pointer;
    float: left;
    border-radius: 50%;
    transition: transform linear 150ms;
}

.undo:hover {
    transform: rotate(-30deg)
}

.undo.active {
    visibility: visible;
}

span {
    padding: 8px;
}